<!-- <app-dashboard-wrapper></app-dashboard-wrapper> -->



  <div class="card card-custom example example-compact gutter-b" >
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Add a Picture</h3>
      </div>
    </div>
    <div class="card-body">
      <div>
        <div class="video-container text-center" *ngIf="!error">
            <video [class.d-inline]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
                autoplay></video>
            <canvas [class.d-inline]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
                [height]="HEIGHT"></canvas>
        </div>
        
        <div class="snap-container">
            <button class="btn btn-primary" *ngIf="!isCaptured" (click)="capture()">Snap Photo</button>
            <button class="btn btn-danger" *ngIf="isCaptured" (click)="removeCurrent()">Take Another</button>
        
            <div *ngIf="error" class="text-danger mt-4">
                {{ error }}.
                <div class="mt-5">
                    <img src="https://trungk18.com/7e0976255739e721501803ee074f1f94/camera.gif" />
                </div>
                </div>
            </div>
        
            <ul class="list-unstyled">
                <li *ngFor="let src of captures; let idx = index" (click)="setPhoto(idx)">
                    <img [src]="src" height="50" />
                </li>
            </ul>

      </div>
    </div>
  </div>
